<section *ngIf="isModalVisible"
    class="z-40 bg-white w-screen h-screen fixed top-0 flex flex-col items-center overflow-y-scroll pb-32">


    <!-- Affichage de l'image principale de la carte -->
    <div class="w-11/12 mt-10">
        <img *ngIf="cardToDisplay?.getImageUris()?.getDigital()?.getLarge()" alt="card"
            class="rounded-lg object-contain object-center mx-auto"
            [src]="cardToDisplay?.getImageUris()?.getDigital()?.getLarge()">
    </div>

    <!-- Détails de la carte -->
    <div *ngIf="cardToDisplay" class="w-11/12 mx-auto p-4 border rounded-lg shadow-lg bg-white mt-4">

        <table class="w-full text-left">
            <tbody>
                <tr>
                    <td class="tw_td_label">Price standard ($)</td>
                    <td class="tw_td_value">{{ cardToDisplay.getPrices().getUsd() || 'unavailable' }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Price foil ($)</td>
                    <td class="tw_td_value">{{ cardToDisplay.getPrices().getUsdFoil() || 'unavailable' }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Name</td>
                    <td class="p-2 border-b-2">{{ cardToDisplay.getName() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Version</td>
                    <td class="tw_td_value">{{ cardToDisplay.getVersion() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Layout</td>
                    <td class="tw_td_value">{{ cardToDisplay.getLayout() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Release Date</td>
                    <td class="tw_td_value">{{ cardToDisplay.getReleasedAt() | date }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Cost</td>
                    <td class="tw_td_value">{{ cardToDisplay.getCost() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Inkwell</td>
                    <td class="tw_td_value">{{ cardToDisplay.getInkwell() ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Ink</td>
                    <td class="tw_td_value">{{ cardToDisplay.getInk() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Type</td>
                    <td class="tw_td_value">{{ cardToDisplay.getType().join(', ') }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Classifications</td>
                    <td class="tw_td_value">{{ cardToDisplay.getClassifications().join(', ') }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Rarity</td>
                    <td class="tw_td_value">{{ cardToDisplay.getRarity() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Strength</td>
                    <td class="tw_td_value">{{ cardToDisplay.getStrength() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Willpower</td>
                    <td class="tw_td_value">{{ cardToDisplay.getWillpower() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Lore</td>
                    <td class="tw_td_value">{{ cardToDisplay.getLore() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Flavor Text</td>
                    <td class="tw_td_value">{{ cardToDisplay.getFlavorText() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Illustrators</td>
                    <td class="tw_td_value">{{ cardToDisplay.getIllustrators().join(', ') }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Collector Number</td>
                    <td class="tw_td_value">{{ cardToDisplay.getCollectorNumber() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Language</td>
                    <td class="tw_td_value">{{ cardToDisplay.getLang() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Set Name</td>
                    <td class="tw_td_value">{{ cardToDisplay.getSet().getName() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Set Code</td>
                    <td class="tw_td_value">{{ cardToDisplay.getSet().getCode() }}</td>
                </tr>
                <tr>
                    <td class="tw_td_label">Set Release Date</td>
                    <td class="tw_td_value">{{ cardToDisplay.getSet().getReleasedAt() | date }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <button class="tw_btn w-11/12 mx-auto fixed bottom-10" (click)="toggleModal()">Back</button>

</section>