<section class="text-gray-600 body-font">

  <div class="w-8/12 h-8/12 mx-auto">

    <div class="w-full h-full">

      <div class="p-4">

        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          @if(card!=null){
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-full object-contain object-center sm:mb-0 mb-4"
            [src]="card.getImage()">
          }

        </div>

      </div>

    </div>
  </div>
</section>