<header class="z-40 h-20 fixed top-0 bg-white w-full shadow-xl rounded-b-sm flex items-center justify-around">

    <a class="h-5/6 hover:scale-105" routerLink="home"><img src="assets/images/logo.webp" alt="Logo"
            class="h-full object-center rounded-full"></a>

    <a class="text-4xl md:text-6xl font-Satisfy text-gray-900 hover:cursor-pointer hover:scale-105 hover:text-purple-700"
        routerLink="home">LorcanaDex</a>


    <svg *ngIf="!isModalOpen" [ngClass]="{'opacity-0 pointer-events-none':hideMenu()}" class="w-14 h-14 tw_svg"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        (click)="toggleMenu()">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>

    <svg *ngIf="isModalOpen" [ngClass]="{'opacity-0 pointer-events-none':hideMenu()}" class="w-10 h-10 tw_svg"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        (click)="toggleMenu()">
        <path stroke-linecap=" round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>



    <div [ngClass]="isModalOpen ? 'opacity-100' : 'opacity-0 pointer-events-none'"
        class="w-full absolute top-full left-0 bg-white transition-all duration-200 ease-in-out">

        <nav class="flex flex-col text-center font-Roboto">
            <a *ngIf="!isCurrentRoute('home')" class="border border-gray-300 py-4 hover:bg-purple-400" routerLink="home"
                (click)="toggleMenu()">Home</a>
            <a *ngIf="!isCurrentRoute('cards')" class="border border-gray-300 py-4 hover:bg-purple-400"
                routerLink="cards" (click)="toggleMenu()">Cards</a>
            <a *ngIf="!isCurrentRoute('decks')" class="border border-gray-300 py-4 hover:bg-purple-400"
                routerLink="decks" (click)="toggleMenu()">Decks</a>
            <a *ngIf="!isCurrentRoute('counter')" class="border border-gray-300 py-4 hover:bg-purple-400"
                routerLink="counter" (click)="toggleMenu()">Counter</a>
            <p class="border border-gray-300 py-4 hover:bg-purple-400 cursor-pointer" (click)="toggleMenu(); logout()">
                Log out</p>
        </nav>

    </div>

</header>