<section class="flex flex-col items-center">


    <!-- BOUTON FILTRER -->
    <button class="tw_btn fixed bottom-10 w-11/12" (click)="toggleModal()">Filter</button>

    <!-- MODAL -->

    <div *ngIf="isModalInitialized" [ngClass]="isModalVisible ? 'opacity-100' : 'opacity-0 pointer-events-none'"
        class="tw_modal overflow-y-auto pb-40">

        <!-- BOUTON BACK -->
        <button class="tw_btn w-11/12" (click)="toggleModal()">Back</button>


        <!-- COLOR -->

        <div
            class="w-9/12 mx-auto flex flex-wrap flex-row justify-center items-center border-2 border-white rounded-xl">

            <div *ngFor="let color of colors; let i = index"
                class="p-3 w-1/3 h-20 md:h-24 lg:h-28 flex flex-col justify-center"
                (click)="addNewFilter(color,'color',color)">
                <img [id]=color [src]="'/assets/images/colors/' + color + '.png'" alt=""
                    class="w-full h-full object-contain filter grayscale transition-all duration-300 hover:cursor-pointer">
            </div>

        </div>

        <!-- RARITY -->

        <div id="raritiesContainer"
            class="mt-4 w-9/12 mx-auto flex flex-wrap flex-row justify-center items-center border-2 border-white rounded-xl">

            <div *ngFor="let rarity of rarities; let i = index"
                class="p-3 w-1/3 h-20 md:h-24 lg:h-28 flex flex-col justify-center"
                (click)="addNewFilter(rarity, 'rarity',rarity)">
                <img [id]=rarity [src]="'/assets/images/rarities/' + rarity + '.png'" alt=""
                    class="w-full h-full object-contain filter grayscale transition-all duration-300 hover:cursor-pointer">
            </div>

        </div>

        <!-- SET -->
        <!-- <div class="mt-4 w-9/12">
            <label for="set" class="block w-full text-grey-600 text-center">Set</label>
            <select id="set" name="set" class="w-full bg-gray-100 rounded border border-gray-300 p-2"
                    [(ngModel)]="sets" (change)="">
              <option value="" disabled selected>Select a type</option>
              <option *ngFor="let type of types" [value]="sets">{{ sets }}</option>
            </select>
          </div> -->

        <div class="mt-4 w-9/12">
            <select (change)="OnChangeSelectSet($event)">
                <option value="all">all</option>
                <option *ngFor="let set of sets; let i = index" [value]="set.getName()">
                    {{ set.getName() }}
                </option>
            </select>
        </div>


        <!-- NAME -->

        <div class="mt-4 w-9/12">
            <label for="filterOnCardsName" class="block w-full text-grey-600 text-center">Card's name</label>
            <input type="text" id="filterOnCardsName" name="filterOnCardsName"
                class="w-full bg-gray-100 rounded border border-gray-300" [(ngModel)]="nameFilter">
        </div>

        <!-- BOUTON FILTRER -->

        <!-- BOUTON BACK -->
        <button class="tw_btn fixed bottom-10 w-11/12" (click)="filterCards()">Filter</button>

    </div>

</section>