<section class="w-full h-full flex flex-col items-center">


    <!-- BOUTON FILTRER -->
    <button class="tw_btn fixed bottom-10 w-11/12" (click)="toggleModal()">Filter</button>

    <!-- MODAL -->

    <div [ngClass]="{'opacity-100 pointer-events-auto':isModalVisible }"
        class="tw_modal pb-10 opacity-0 pointer-events-none">

        <!-- [ngClass]="isModalVisible ? 'opacity-100' : 'opacity-0 pointer-events-none'" -->

        <!-- BOUTON BACK -->
        <button class="tw_btn fixed top-20 w-11/12" (click)="toggleModal()">Back</button>


        <!-- COLOR -->

        <div
            class="mt-14 w-9/12 flex flex-wrap flex-row justify-center items-center border-2 border-fuchsia-300 rounded-lg">

            <div *ngFor="let color of colors; let i = index"
                class="p-3 w-1/3 h-20 md:h-24 lg:h-28 flex flex-col justify-center"
                (click)="addNewFilter(color,'color',color)">
                <img [id]=color [src]="'/assets/images/colors/' + color + '.png'" alt=""
                    class="w-full h-full object-contain filter grayscale transition-all duration-300 hover:cursor-pointer">
            </div>

        </div>

        <!-- RARITY -->

        <div id="raritiesContainer"
            class="mt-4 w-9/12 flex flex-wrap flex-row justify-center items-center border-2 border-fuchsia-300 rounded-lg">

            <div *ngFor="let rarity of rarities; let i = index"
                class="p-3 w-1/3 h-20 md:h-24 lg:h-28 flex flex-col justify-center"
                (click)="addNewFilter(rarity, 'rarity',rarity)">
                <img [id]=rarity [src]="'/assets/images/rarities/' + rarity + '.png'" alt=""
                    class="w-full h-full object-contain filter grayscale transition-all duration-300 hover:cursor-pointer">
            </div>

        </div>

        <!-- SET -->


        <label for="filterOnSet" class="mt-4 block w-full text-grey-600 text-center">Set's name</label>
        <select id="filterOnCardsName" (change)="OnChangeSelectSet($event)"
            class="p-3 w-9/12 text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">

            <option value="all">all</option>
            <option *ngFor="let set of sets; let i = index" [value]="set.getName()">
                {{ set.getName() }}
            </option>
        </select>



        <!-- NAME -->

        <div class="mt-4 w-9/12">
            <label for="filterOnCardsName" class="block w-full text-grey-600 text-center">Card's name</label>
            <input type="text" id="filterOnCardsName" name="filterOnCardsName"
                class="h-12 text-center w-full bg-gray-100 border-2 border-fuchsia-300 rounded-lg"
                [(ngModel)]="nameFilter">
        </div>

        <!-- EFFECT -->

        <div class="mt-4 w-9/12">
            <label for="filterOnCardsText" class="block w-full text-grey-600 text-center">Card's effect</label>
            <input type="text" id="filterOnCardsText" name="filterOnCardsText"
                class="h-12 text-center w-full bg-gray-100 border-2 border-fuchsia-300 rounded-lg"
                [(ngModel)]="textFilter">
        </div>

        <!-- TYPE -->

        <div class="mt-4 w-9/12">
            <label for="filterOnCardsType" class="block w-full text-grey-600 text-center">Card's type</label>
            <input type="text" id="filterOnCardsType" name="filterOnCardsType"
                class="h-12 text-center w-full bg-gray-100 border-2 border-fuchsia-300 rounded-lg"
                [(ngModel)]="typeFilter">
        </div>

        <!-- COST -->

        <label for="filterOnCardsCost" class="mt-4 block w-full text-grey-600 text-center">Card's cost</label>
        <div class="w-9/12 flex flex-row justify-between">

            <select (change)="OnChangeSelectOperator($event,'cost')"
                class="p-3 w-[30%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">

                <option *ngFor="let operator of operators; let i = index" [value]="operator">
                    {{ operator }}
                </option>
            </select>

            <select (change)="OnChangeSelectOption($event,'cost')"
                class="p-3 w-[65%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">
                <option value="all">all</option>
                <option *ngFor="let value of values; let i = index" [value]="value">
                    {{ value }}
                </option>
            </select>


        </div>

        <!-- STRENGTH -->


        <label for="filterOnCardsStrength" class="mt-4 block w-full text-grey-600 text-center">Card's strength</label>
        <div class="w-9/12 flex flex-row justify-between">

            <select (change)="OnChangeSelectOperator($event,'strength')"
                class="p-3 w-[30%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">

                <option *ngFor="let operator of operators; let i = index" [value]="operator">
                    {{ operator }}
                </option>
            </select>

            <select (change)="OnChangeSelectOption($event,'strength')"
                class="p-3 w-[65%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">
                <option value="all">all</option>
                <option *ngFor="let value of values; let i = index" [value]="value">
                    {{ value }}
                </option>
            </select>


        </div>



        <!-- WILLPOWER -->


        <label for="filterOnCardsWillpower" class="mt-4 block w-full text-grey-600 text-center">Card's willpower</label>
        <div class="w-9/12 flex flex-row justify-between">

            <select (change)="OnChangeSelectOperator($event,'willpower')"
                class="p-3 w-[30%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">

                <option *ngFor="let operator of operators; let i = index" [value]="operator">
                    {{ operator }}
                </option>
            </select>

            <select (change)="OnChangeSelectOption($event,'willpower')"
                class="p-3 w-[65%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">
                <option value="all">all</option>
                <option *ngFor="let value of values; let i = index" [value]="value">
                    {{ value }}
                </option>
            </select>


        </div>



        <!-- LORE -->


        <label for="filterOnCardsLore" class="mt-4 block w-full text-grey-600 text-center">Card's lore</label>
        <div class="w-9/12 flex flex-row justify-between">

            <select (change)="OnChangeSelectOperator($event,'lore')"
                class="p-3 w-[30%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">

                <option *ngFor="let operator of operators; let i = index" [value]="operator">
                    {{ operator }}
                </option>
            </select>

            <select (change)="OnChangeSelectOption($event,'lore')"
                class="p-3 w-[65%] text-center bg-gray-100 border-2 border-fuchsia-300 rounded-lg">
                <option value="all">all</option>
                <option *ngFor="let value of values; let i = index" [value]="value">
                    {{ value }}
                </option>
            </select>


        </div>



        <!-- BOUTON FILTRER -->

        <button class="tw_btn fixed bottom-10 w-11/12" (click)="filterCards()">Filter</button>

    </div>

</section>