<section class="mt-[10vh]">

    <app-filters></app-filters>

    <app-card></app-card>

    <!-- AFFICHAGE CARTES -->

    <div class="w-full flex flex-col items-center">

        <button class="tw_btn w-11/12 fixed top-[10vh]" (click)="goBack()">Go back</button>

        <table class="mt-[12vh] w-full text-left">
            <tbody>

                <tr *ngIf="deckStats.get('deckPrice')!==null">
                    <td class="tw_td_label text-yellow-600">Price std ($)</td>
                    <td class="tw_td_value">{{ deckStats.get('deckPrice') }}</td>
                </tr>


            </tbody>
        </table>
    </div>


    <div class="flex flex-wrap justify-center pb-[12vh]">



        <div *ngFor="let deckCard of deckCards; let i = index" class="p-2 w-1/2 md:w-1/4 lg:w-1/6 relative">

            <div *ngIf="deckCard?.getCard()?.getImageUris()?.getDigital()?.getNormal() == null"
                class="w-full h-60 flex items-center justify-center bg-white rounded-xl">
                <div class="animate-spin rounded-full h-6 w-6 border-4 border-fuchsia-400 border-t-transparent"></div>
            </div>

            <img *ngIf="deckCard?.getCard()?.getImageUris()?.getDigital()?.getNormal() !== null"
                [attr.alt]="deckCard?.getCard()?.getName() || 'card'"
                class="z-10 h-full w-full rounded-lg object-contain transform transition-all duration-200 hover:scale-105 hover:cursor-pointer hover:shadow-2xl"
                [src]="deckCard?.getCard()?.getImageUris()?.getDigital()?.getNormal()  || 'assets/cardBack.avif'"
                [attr.loading]="i > 5 ? 'lazy' : 'eager'" (click)="showCardDetails(deckCard.getCard())">

            <p>{{getQuantity(deckCard.getCard().getCardIdBdd())}}</p>
            <p>{{getPrice(deckCard.getCard().getCardIdBdd())}}</p>


        </div>

    </div>

</section>