<section id="home" class="mt-[10vh] h-[85vh] flex flex-col items-center space-y-4">
  <!-- mt-24 mb-10 -->

  <h1 class="mt-4 text-4xl md:text-6xl text-center font-Roboto">Welcome !</h1>
  <p class="text-2xl md:text-4xl text-center font-Roboto">let's cook up fun decks.</p>
  <span class="h-1 w-10 rounded bg-purple-700"></span>

  <img class="rounded-lg w-[90%] md:w-[60%] lg:w-[30%]" src="assets/images/wizardTower.avif" alt="Wizard Tower">

  <span class="h-1 w-10 rounded bg-purple-700"></span>

  <div class="w-11/12 p-2">
    <p class="text-sm md:text-lg lg:text-xl text-center leading-relaxed">
      At LorcanaDex, deck-building is fun and creative!<br>
      Craft decks, laugh, and enjoy every game with friends.
    </p>
  </div>

  <button class="tw_btn w-11/12" (click)="showCards()">Show cards</button>
  <button class="tw_btn w-11/12" (click)="showDecks()">Build decks</button>

</section>