<section class="h-full w-full">

    <div class="flex flex-row w-full justify-center">
        <!-- BOUTON RETOUR -->
        <button *ngIf="!isDeckVisible" class="tw_btn w-1/2" (click)="goBack()">Go back</button>
        <!-- BOUTON AFFICHER DECK -->
        <button *ngIf="!isDeckVisible" class="tw_btn w-1/2" (click)="showDeck()">Show deck</button>

        <!-- BOUTON AFFICHER TOUTES LES CARTES -->
        <button *ngIf="isDeckVisible" class="tw_btn w-11/12 mx-auto" (click)="showAll()">Show all cards</button>
    </div>

    <app-filters *ngIf="!isDeckVisible"></app-filters>

    <app-card></app-card>

    <!-- AFFICHAGE CARTES -->

    <div class="w-full flex flex-wrap justify-center">

        <div *ngFor="let card of cardsToDisplay; let i = index"
            class="z-10 w-5/12 md:w-1/4 lg:w-1/6 p-1 m-2 bg-white rounded-lg transform transition-all duration-200 hover:scale-105 hover:shadow-2xl ">

            <div class="flex justify-between items-center mb-2">

                <svg class="tw_svg h-10 w-10" (click)="removeCardFromDeck(card.getCardIdBdd())"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>


                <span class="text-xl font-Roboto">{{
                    getCardNumberOfCopies(card.getCardIdBdd())
                    }}</span>

                <svg class="tw_svg h-10 w-10" (click)="addCardToDeck(card.getCardIdBdd())"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>


            </div>

            <div class="w-full flex items-center justify-center mb-2">
                <img *ngIf="card?.getImageUris()?.getDigital()?.getSmall() !== null" alt="card"
                    class="h-full w-full rounded-lg object-contain transform hover:cursor-pointer"
                    [src]="card?.getImageUris()?.getDigital()?.getNormal()" [attr.loading]="i > 100 ? 'lazy' : null"
                    (click)="showCardDetails(card)">
            </div>

        </div>

        <button *ngIf="isDeckVisible" class="tw_btn w-11/12 fixed bottom-10" (click)="saveDeckCardsInBdd()">Save
            deck</button>

    </div>




</section>