<section class="w-full h-full flex flex-row justify-center">

    <div class="hidden md:flex md:flex-col md:items-center md:justify-center md:w-11/12 ">

        <div class="w-11/12">
            <img class="object-cover" src="assets/images/wizardTower.png" alt="">
        </div>


    </div>


    <div class="w-11/12 md:w1/2">

        <h2 class="mb-5 text-4xl font-semibold font-Satisfy text-center text-purple-900">LorcanaDex</h2>

        <div class="w-20 h-20 mx-auto m-4">
            <img class="object-cover w-full h-full rounded-full" src="assets/images/logo.webp" alt="">
        </div>

        <h2 class="mb-5  text-center font-Satisfy ">Enter the enchanted world of
            deck creation !</h2>

        <!-- FORMULAIRE -->

        <form (ngSubmit)=" submit()" #loginForm="ngForm"
            class="p-4 flex flex-col items-center bg-purple-200 shadow-2xl rounded-xl">

            <div class="w-full h-20 mb-4">
                <label for="email" class="text-sm text-purple-800">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="username" class="w-full tw_input">
            </div>

            <div class="w-full h-20 mb-4">
                <label for="password" class="text-sm text-purple-800">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" class="w-full tw_input">
            </div>

            <button class="tw_btn w-11/12" type="submit" [disabled]="loginForm.invalid">Submit</button>

        </form>
    </div>



</section>