<section class="mt-24">

  <app-filters></app-filters>

  <app-card></app-card>

  <!-- AFFICHAGE CARTES -->

  <div class="flex flex-wrap justify-center pb-24">

    <div *ngFor="let card of cardsToDisplay; let i = index" class="p-2 w-1/2 md:w-1/4 lg:w-1/6 relative">


      <img *ngIf="card?.getImageUris()?.getDigital()?.getSmall() !== null" alt="card"
        class="z-10 h-full w-full rounded-lg object-contain transform transition-all duration-200 hover:scale-105 hover:cursor-pointer hover:shadow-2xl"
        [src]="card?.getImageUris()?.getDigital()?.getNormal" [attr.loading]="i > 50 ? 'lazy' : null"
        (click)="showCardDetails(card)">

      <!-- <svg *ngIf="card?.getPrices()?.getUsd() !== null || card?.getPrices()?.getUsdFoil()!==null"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="z-10 tw_svg h-6 w-6 absolute top-0 right-0 text-white bg-black rounded-full hover:bg-white"
        (click)="showPrices(card.getCardIdApi())">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>

      <div [id]="card.getCardIdApi()" class="hidden absolute top-1/2 left-1/4 bg-fuchsia-400 rounded-lg p-2">

        <p *ngIf="card?.getPrices()?.getUsd() !== null" class=" text-white text-sm ">
          std : {{card?.getPrices()?.getUsd()}}$</p>

        <p *ngIf="card?.getPrices()?.getUsdFoil() !== null" class=" text-white text-sm ">
          foil : {{card?.getPrices()?.getUsdFoil()}}$</p>

      </div> -->


    </div>

  </div>

</section>